<div class="px-head-wrapper">
    <div class="px-head">
        <div class="logo">
            <b>Angular</b>
        </div>
        <nav class="px-nav">
            <a class="px-nav-link"
               role="button"
               (mouseenter)="show=true">
                <span>按钮1</span>
            </a>
            <a class="px-nav-link"
               role="button"
               (mouseenter)="show=true">
                <span>按钮1</span>
            </a>
            <a class="px-nav-link"
               role="button"
               (mouseenter)="show=true">
                <span>按钮1</span>
            </a>
            <a class="px-nav-link"
               role="button"
               (mouseenter)="show=true">
                <span>按钮1</span>
            </a>
            <a class="px-nav-link"
               role="button">
                <span>按钮1</span>
            </a>
        </nav>
        <div class="px-nav-content-wrapper"
             (mouseleave)="show=false"
             [class.open]="show">
            <div class="px-nav-content">
                <div class="px-nav-content-section"
                     [class.open]="show">
                </div>
            </div>
        </div>
    </div>
</div>