body {
    position: relative;
    line-height: 1 !important;
    font-size: 12px;
}

.px-head-wrapper {
    position: relative;
    padding: 20px 50px 0 50px;
}

.px-head {
    position: relative;
}

.px-head .logo {
    float: left;
    width: 30%;
}

.px-head .logo b {
    background-image: url(../images/angular.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 37px;
    font-size: 30px;
    padding-left: 37px;
}

.px-nav-link {
    float: left;
    font-size: 14px;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: border-color .3s, color .3s;
}

.px-nav-link:hover {
    border-bottom: 2px solid #cb3034;
    color: #e22835;
}

.px-nav-content-wrapper {
    background-color: #f1f1f1;
    padding: 0 15px;
    position: absolute;
    transform: translate3d(0, -105%, 0);
    transition: all .4s cubic-bezier(.2, 1, .2, 1);
    width: 100%;
    z-index: 899;
    overflow: hidden;
    opacity: 0;
    top: 60px;
}

.showing .px-nav-content-wrapper {
    height: 350px;
    transform: translateZ(0);
    opacity: 1;
}

.px-nav-content {
    position: relative;
    margin: 0 auto;
    width: 100%!important;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
}

.px-nav-content-section.open {
    transform: translateZ(0);
    background-color: #f1f1f1;
    z-index: 91;
}

